altair
appdirs
attrs
blinker
brotlipy
cachetools
chardet
charset-normalizer
click
colorama
decorator
entrypoints
fonttools
gitdb
GitPython
importlib-metadata
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl
mkl-fft
mkl-service
munkres
numpy
opencv-python
packaging
pandas
Pillow
ply
protobuf
pyarrow
pydeck
Pygments
Pympler
PyQt5
pyrsistent
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
semver
smmap
streamlit
toolz
typing_extensions
tzdata
tzlocal
validators
watchdog
wincertstore
zipp
